// Font Variables
$font-primary: Arial, Helvetica, sans-serif;

$default-font-size: 1.6rem;

$default-container-padding: 1.5rem;

// Color Variables
$color-primary: #000000;
$color-secondary: #ffffff;
$color-grey: #708090;
$color-white: #ffffff;
$color-black: #000000;
