.footer {
  // border: 0.3rem solid violet;

  background-color: $color-black;
  grid-column: col-start 1 / col-end 3;

  border-radius: map.get($border-radius, 'curved');
  @include respond(phone) {
    border-radius: map.get($border-radius, 'none');
  }
}
