.footer {
  background-color: $color-white;
  color: $color-white;

  border-radius: map.get($border-radius, 'curved');
  @include respond(phone) {
    border-radius: map.get($border-radius, 'none');
  }

  &__link {
    border-radius: 0.3rem;
    padding: 1rem;
    width: fit-content;
    display: block;
  }

  &__link:link,
  &__link:visited {
    font-size: 2rem;
    color: $color-black;
    text-decoration: none;
    margin: 2rem auto;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    box-shadow: 0 0 1rem 0 $color-black;
  }
}
