.header {
  box-shadow: 0.5rem 0.5rem 2rem $color-grey-light;

  background-color: $color-white;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: map.get($border-radius, 'curved');

  @include respond(phone) {
    border-radius: map.get($border-radius, 'none');
  }

  &__logo-container {
    height: 12.5rem;
    width: 12.5rem;
    @include respond(tab-land) {
      height: 10rem;
      width: 10rem;
    }
    @include respond(phone) {
      height: 7.5rem;
      width: 7.5rem;
    }
  }

  &__logo-img {
    max-height: 100%;
    max-width: 100%;
    margin: 2rem 0 0 4rem;
    @include respond(tab-land) {
      margin: 2rem 0 0 2rem;
    }
    @include respond(phone) {
      margin: 1rem 0 0 2rem;
    }
  }

  &__wordmark-container {
    height: 20rem;
    display: flex;
    justify-content: center;

    @include respond(tab-land) {
      height: 15rem;
    }
    @include respond(phone) {
      height: 10rem;
    }
  }

  &__wordmark-img {
    padding-bottom: 0.2rem;
    width: 66%;
    max-height: 100%;

    @include respond(phone) {
      width: 80%;
      padding-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }
}
