.news-container {
  // border: 0.3rem solid seagreen;

  background-color: $color-white;
  // color: var(--team-primary-color);
  padding: 1rem;
  grid-row: 2 / 3;
  grid-column: col-start 1 / col-end 3;

  border-radius: map.get($border-radius, 'curved');
  @include respond(phone) {
    border-radius: map.get($border-radius, 'none');
  }

  li {
    list-style: none;
  }
}

.news-article {
}
