.news-container {
  background-color: $color-white;
  padding: $default-container-padding;
  overflow-y: scroll;

  border-radius: map.get($border-radius, 'curved');
  @include respond(phone) {
    border-radius: map.get($border-radius, 'none');
  }
}

.news-container_scroll {
}

.news-article {
  list-style: none;
  font-size: 16px;
}
