.news-container {
  box-shadow: 0.5rem 0.5rem 2rem $color-grey-light;
  background-color: $color-white;
  padding: $default-container-padding;

  border-radius: map.get($border-radius, 'curved');
  @include respond(phone) {
    border-radius: map.get($border-radius, 'none');
  }
}

.article {
  white-space: normal;

  &__title {
  }
  &__content {
  }
}
