.roster-container {
  padding: $default-container-padding;
  box-shadow: 0.5rem 0.5rem 2rem $color-grey-light;
  background-color: $color-white;
  border-radius: map.get($border-radius, 'curved');
  @include respond(phone) {
    border-radius: map.get($border-radius, 'none');
  }
}
