.schedule-container {
  padding: $default-container-padding;
  background-color: $color-white;
  box-shadow: 0.5rem 0.5rem 2rem $color-grey-light;
  border-radius: map.get($border-radius, 'curved');

  @include respond(tab-land) {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  @include respond(phone) {
    border-radius: map.get($border-radius, 'none');
  }

  li {
    list-style: none;
  }
}
