.schedule-container {
  padding: $default-container-padding;
  background-color: $color-white;
  box-shadow: 0.5rem 0.5rem 2rem $color-grey-light;
  border-radius: map.get($border-radius, 'curved');

  @include respond(tab-land) {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  @include respond(phone) {
    border-radius: map.get($border-radius, 'none');
  }

  &__list {
    list-style: none;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  &__details {
    border: solid 2px var(--team-primary-color);
    padding: 1rem;
    &--bye {
      border: solid 2px red;
      font-size: 2.5rem;
      font-weight: bold;
    }

    width: -webkit-fill-available;
    margin: 1rem;
  }

  &__game {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__game-stadia {
    font-size: 2.3rem;
    font-style: italic;
  }
  &__game-media {
    font-size: 2.3rem;
  }
  &__game-media-channel {
    font-size: 2.3rem;
    font-weight: bold;
  }
}
