.stadium-container {
  box-shadow: 0.5rem 0.5rem 2rem $color-grey-light;

  font-weight: 600;

  padding: $default-container-padding;
  background-color: $color-white;

  border-radius: map.get($border-radius, 'curved');
  @include respond(phone) {
    border-radius: map.get($border-radius, 'none');
  }
}
