.stadium-container {
  // border: 0.3rem solid blue;

  background-color: $color-white;

  border-radius: map.get($border-radius, 'curved');
  @include respond(phone) {
    border-radius: map.get($border-radius, 'none');
  }
}
