*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  // This defines a 1rem. Its a global setting
  font-size: 62.5%; // 1rem = 10px; 10px / 16px = 62.5%

  @include respond(big-desk) {
    font-size: 75%; // 1rem = 12px, 12/16 = 75%
  }
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }
  @include respond(phone) {
    font-size: 37.5%; // 1rem = 6px; 6px/16px = 37.5%
  }
}

body {
  font-family: $font-primary;
  color: $color-primary;
  line-height: 1.6;
}

.background-container {
  background-color: var(--team-tertiary-color);
}

.main-container {
  width: 90%;
  margin: 0 auto;
  padding: 5rem;
  border-left: 1rem solid var(--team-secondary-color);
  border-right: 1rem solid var(--team-secondary-color);
  background-color: var(--team-primary-color);

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @include respond(big-desk) {
    width: 85%;
  }
  @include respond(tab-port) {
    width: 95%;
    padding: 3rem;
  }
  @include respond(phone) {
    width: 100%;
    padding: 3rem 0;
  }
}

.sss-container {
  border: 0.5rem solid yellow;

  display: grid;
  width: 100%;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);

  @include respond(tab-land) {
    border: 0.5rem solid blue;

    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(phone) {
    border: 0.5rem solid plum;

    grid-template-columns: 1fr;
  }
}
