* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.background-container {
  background-color: white;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: grid;

  grid-template-rows: [header-start] 300px [header-end main-start] 250px [grid-start] 300px 600px [main-end footer-start] 50px [footer-end];
  grid-template-columns: repeat(3, [col-start] 1fr [col-end]);
  grid-gap: 10px;

  justify-content: center;
}

.header {
  border: 0.3rem solid pink;

  grid-row: header-start / header-end;
  grid-column: col-start 1 / col-end 3;
}

.heading {
  padding: 0rem;
}

.selector-container {
  border: 0.3rem solid yellow;

  grid-row: header-start / header-end;
  grid-column: col-start 3 / col-end 3;

  justify-self: end;
}

.news-container {
  border: 0.3rem solid seagreen;

  grid-row: main-start / span 1;
  grid-column: col-start 1 / col-end 3;
}

.stadium-container {
  border: 0.3rem solid blue;
}

.staff-container {
  border: 0.3rem solid indianred;
}

.schedule-container {
  border: 0.3rem solid palegoldenrod;

  grid-row: span 2;
}

.roster-container {
  border: 0.3rem solid rebeccapurple;
  overflow: hidden;

  grid-column: col-start 2 / col-end 3;
}

.footer {
  border: 0.3rem solid violet;

  grid-column: col-start 1 / col-end 3;
}
