*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  line-height: 1.6;
}

.background-container {
  background-color: var(--team-tertiary-color);
}

.main-container {
  width: 90%;
  margin: 0 auto;
  padding: 5rem 5rem 0 5rem;
  border-left: 1rem solid var(--team-secondary-color);
  border-right: 1rem solid var(--team-primary-color);
  background: linear-gradient(92deg, var(--team-primary-color) 20%, var(--team-secondary-color) 80%);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
@media only screen and (min-width: 112.5em) {
  .main-container {
    width: 85%;
  }
}
@media only screen and (max-width: 56.25em) {
  .main-container {
    width: 95%;
    padding: 3rem 3rem 0 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .main-container {
    width: 100%;
    padding: 3rem 0 0 0;
  }
}

.sss-container {
  display: grid;
  width: 100%;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 75em) {
  .sss-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 37.5em) {
  .sss-container {
    grid-template-columns: 1fr;
  }
}

.heading-5, .heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4rem;
  font-weight: 800;
}

.heading-2 {
  font-size: 3.4rem;
  font-weight: 500;
}

.heading-3 {
  font-size: 2.6rem;
}

.heading-4 {
  font-size: 2rem;
}

.heading-5 {
  font-size: 1.6rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.news-container {
  box-shadow: 0.5rem 0.5rem 2rem #969696;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.25rem;
}
@media only screen and (max-width: 37.5em) {
  .news-container {
    border-radius: 0;
  }
}

.article {
  white-space: normal;
}
.schedule-container {
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0.5rem 0.5rem 2rem #969696;
  border-radius: 0.25rem;
}
@media only screen and (max-width: 75em) {
  .schedule-container {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
@media only screen and (max-width: 37.5em) {
  .schedule-container {
    border-radius: 0;
  }
}
.schedule-container__list {
  list-style: none;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.schedule-container__details {
  border: solid 2px var(--team-primary-color);
  padding: 1rem;
  width: -webkit-fill-available;
  margin: 1rem;
}
.schedule-container__details--bye {
  border: solid 2px red;
  font-size: 2.5rem;
  font-weight: bold;
}
.schedule-container__game {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.schedule-container__game-stadia {
  font-size: 2.3rem;
  font-style: italic;
}
.schedule-container__game-media {
  font-size: 2.3rem;
}
.schedule-container__game-media-channel {
  font-size: 2.3rem;
  font-weight: bold;
}

.stadium-container {
  box-shadow: 0.5rem 0.5rem 2rem #969696;
  font-weight: 600;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
}
@media only screen and (max-width: 37.5em) {
  .stadium-container {
    border-radius: 0;
  }
}
.stadium-container__list {
  list-style: none;
  font-size: 2rem;
  font-weight: 400;
}

.map-marker {
  display: flex;
  align-items: center;
  width: 15rem;
  color: black;
}
.map-marker__icon {
  font-size: 4rem;
  position: relative;
  top: -3.5rem;
  left: -1.3rem;
}
.map-marker__icon-text {
  position: relative;
  top: 1rem;
  left: -1rem;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  text-align: center;
}

.staff-container {
  box-shadow: 0.5rem 0.5rem 2rem #969696;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
}
@media only screen and (max-width: 37.5em) {
  .staff-container {
    border-radius: 0;
  }
}
.staff-container__head-title {
  font-size: 2.4rem;
  font-weight: 600;
}
.staff-container__coach-title {
  font-size: 2rem;
  font-weight: 400;
}

.roster-container {
  padding: 1.5rem;
  box-shadow: 0.5rem 0.5rem 2rem #969696;
  background-color: #ffffff;
  border-radius: 0.25rem;
}
@media only screen and (max-width: 37.5em) {
  .roster-container {
    border-radius: 0;
  }
}

.player-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
}

.player-card {
  padding-top: 1rem;
  text-align: center;
  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem #969696;
  color: #ffffff;
  background: linear-gradient(0deg, var(--team-primary-color) 33%, var(--team-secondary-color) 66%);
  border-radius: 0.25rem;
  width: -webkit-fill-available;
  padding: 1rem;
  margin: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .player-card {
    border-radius: 0;
  }
}

.player-img {
  background-color: #ffffff80;
  width: 8rem;
  border-radius: 0.25rem;
}

.view-player-btn {
  width: 100%;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}

.carousel {
  overflow: hidden;
}
.carousel-inner {
  white-space: nowrap;
  transition: transform 0.3s;
}
.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.carousel-item__show-1 {
  width: 100%;
}
.carousel-item__show-2 {
  width: 50%;
}
.carousel-item__show-3 {
  width: 33.3333333333%;
}

.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
}
.indicators__chevron {
  margin: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  height: 4rem;
  width: 4rem;
  background-color: #000000;
  color: #ffffff;
}
.indicators__number {
  cursor: pointer;
  margin: 1rem;
  border: none;
  border-radius: 10rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #969696;
  color: #ffffff;
}
.indicators__number__show-2 {
  display: none;
}
.indicators__number__show-3 {
  display: none;
}

.indicators > button.active {
  background-color: #000000;
  color: #ffffff;
}

.arrow {
  cursor: pointer;
  position: relative;
  display: block;
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  border: solid 0.3rem #999;
  border-radius: 100%;
  z-index: 1;
  transition: all 0.1s linear;
}
.arrow:before, .arrow:after {
  content: "";
  position: absolute;
  width: 35%;
  height: 10%;
  top: 41%;
  left: 55%;
  background: #999;
  z-index: 2;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.1s linear;
}
.arrow:after {
  z-index: 3;
  top: 59%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.arrow:hover {
  border: solid 0.35rem #777;
}
.arrow:hover:after, .arrow:hover:before {
  background: #777;
}
.arrow:active {
  border: solid 0.4rem #000000;
}
.arrow:active:after, .arrow:active:before {
  background: #000000;
}

.left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.header {
  box-shadow: 0.5rem 0.5rem 2rem #969696;
  background-color: #ffffff;
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 0.25rem;
}
@media only screen and (max-width: 37.5em) {
  .header {
    border-radius: 0;
  }
}
.header__logo-container {
  height: 12.5rem;
  width: 12.5rem;
}
@media only screen and (max-width: 75em) {
  .header__logo-container {
    height: 10rem;
    width: 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo-container {
    height: 7.5rem;
    width: 7.5rem;
  }
}
.header__logo-img {
  max-height: 100%;
  max-width: 100%;
  margin: 2rem 0 0 4rem;
}
@media only screen and (max-width: 75em) {
  .header__logo-img {
    margin: 2rem 0 0 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo-img {
    margin: 1rem 0 0 2rem;
  }
}
.header__wordmark-container {
  height: 20rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 75em) {
  .header__wordmark-container {
    height: 15rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__wordmark-container {
    height: 10rem;
  }
}
.header__wordmark-img {
  padding-bottom: 0.2rem;
  width: 66%;
  max-height: 100%;
}
@media only screen and (max-width: 37.5em) {
  .header__wordmark-img {
    width: 80%;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}

.selector-container {
  height: fit-content;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
  margin: 1rem 4rem;
}
@media only screen and (max-width: 75em) {
  .selector-container {
    margin: 0.5rem 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .selector-container {
    margin: 0 0.3rem;
  }
}

.select-team {
  margin: 1rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1.7rem;
  font-family: sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border: 0.1rem solid #ffffff;
  border-radius: 0.4rem;
  background-color: var(--team-primary-color);
}
.select-team:focus {
  border-color: #969696;
  outline: none;
}

.footer {
  background-color: #ffffff;
  border-radius: 0.25rem;
}
@media only screen and (max-width: 37.5em) {
  .footer {
    border-radius: 0;
  }
}
.footer__link {
  border-radius: 0.3rem;
  padding: 1rem;
  width: fit-content;
  display: block;
}
.footer__link:link, .footer__link:visited {
  font-size: 2rem;
  color: #000000;
  text-decoration: none;
  margin: 1rem auto;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  border: 0.3rem solid #000000;
}

/*# sourceMappingURL=main.css.map */
