*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  line-height: 1.6;
}

.background-container {
  background-color: var(--team-tertiary-color);
}

.main-container {
  width: 90%;
  margin: 0 auto;
  padding: 5rem;
  border-left: 1rem solid var(--team-secondary-color);
  border-right: 1rem solid var(--team-secondary-color);
  background-color: var(--team-primary-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
@media only screen and (min-width: 112.5em) {
  .main-container {
    width: 85%;
  }
}
@media only screen and (max-width: 56.25em) {
  .main-container {
    width: 95%;
    padding: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .main-container {
    width: 100%;
    padding: 3rem 0;
  }
}

.sss-container {
  border: 0.5rem solid yellow;
  display: grid;
  width: 100%;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 75em) {
  .sss-container {
    border: 0.5rem solid blue;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 37.5em) {
  .sss-container {
    border: 0.5rem solid plum;
    grid-template-columns: 1fr;
  }
}

.heading-5, .heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4rem;
  font-weight: 800;
}

.heading-2 {
  font-size: 3.4rem;
  font-weight: 500;
}

.heading-3 {
  font-size: 2.6rem;
}

.heading-4 {
  font-size: 2rem;
}

.heading-5 {
  font-size: 1.6rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.news-container {
  background-color: #ffffff;
  padding: 1.5rem;
  overflow-y: scroll;
  border-radius: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .news-container {
    border-radius: 0;
  }
}

.news-article {
  list-style: none;
  font-size: 16px;
}

.schedule-container {
  border: 0.5rem solid salmon;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .schedule-container {
    border-radius: 0;
  }
}
.schedule-container li {
  list-style: none;
}

.stadium-container {
  border: 0.5rem solid darkcyan;
  font-weight: 600;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .stadium-container {
    border-radius: 0;
  }
}

.staff-container {
  border: 0.5rem solid rebeccapurple;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .staff-container {
    border-radius: 0;
  }
}

.roster-container {
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .roster-container {
    border-radius: 0;
  }
}
.roster-container li {
  list-style: none;
}

.roster-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.roster-player {
  padding: 1rem;
  margin: 1rem;
  border: 0.1rem solid black;
  flex-grow: 1;
}

.header {
  background-color: #ffffff;
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .header {
    border-radius: 0;
  }
}
.header__logo-container {
  height: 12.5rem;
  width: 12.5rem;
}
@media only screen and (max-width: 75em) {
  .header__logo-container {
    height: 10rem;
    width: 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo-container {
    height: 7.5rem;
    width: 7.5rem;
  }
}
.header__logo-img {
  max-height: 100%;
  max-width: 100%;
  margin: 2rem 0 0 4rem;
}
@media only screen and (max-width: 75em) {
  .header__logo-img {
    margin: 2rem 0 0 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo-img {
    margin: 1rem 0 0 2rem;
  }
}
.header__wordmark-container {
  height: 20rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 75em) {
  .header__wordmark-container {
    height: 15rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__wordmark-container {
    height: 10rem;
  }
}
.header__wordmark-img {
  padding-bottom: 0.2rem;
  width: 66%;
  max-height: 100%;
}
@media only screen and (max-width: 37.5em) {
  .header__wordmark-img {
    width: 80%;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}

.selector-container {
  height: fit-content;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
  margin: 1rem 4rem;
}
@media only screen and (max-width: 75em) {
  .selector-container {
    margin: 0.5rem 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .selector-container {
    margin: 0 0.3rem;
  }
}

.select-team {
  margin: 1rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1.7rem;
  font-family: sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border: 0.1rem solid #ffffff;
  border-radius: 0.4rem;
  background: linear-gradient(165deg, var(--team-primary-color) 25%, var(--team-secondary-color) 100%);
}

.footer {
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .footer {
    border-radius: 0;
  }
}
.footer__link {
  border-radius: 0.3rem;
  padding: 1rem;
  width: fit-content;
  display: block;
}
.footer__link:link, .footer__link:visited {
  font-size: 2rem;
  color: #000000;
  text-decoration: none;
  margin: 2rem auto;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  box-shadow: 0 0 1rem 0 #000000;
}

/*# sourceMappingURL=main.css.map */
